SELECT * FROM __EFMigrationsHistory

SELECT * FROM ApiClaims
SELECT * FROM ApiProperties
SELECT * FROM ApiResources
SELECT * FROM ApiScopeClaims
SELECT * FROM ApiScopes
SELECT * FROM ApiSecrets

SELECT * FROM ClientClaims
SELECT * FROM ClientCorsOrigins
SELECT * FROM ClientGrantTypes
SELECT * FROM ClientIdPRestrictions
SELECT * FROM ClientPostLogoutRedirectUris
SELECT * FROM ClientProperties
SELECT * FROM ClientRedirectUris
SELECT * FROM Clients
SELECT * FROM ClientScopes
SELECT * FROM ClientSecrets


SELECT * FROM DeviceCodes
SELECT * FROM PersistedGrants

SELECT * FROM IdentityClaims
SELECT * FROM IdentityProperties
SELECT * FROM IdentityResources





